.img {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgg {
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgga {
    background-image: url("../images/navbar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imggaa {
    background-image: url("../images/aboutus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}