.img {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgg {
    background-image: url("../images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}